@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  #wrap {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
  }
  
header {
  background: #F36;
  color: #FFF;
  padding: 20px;
  position: sticky;
  top: 0;
}

.main-menu {
  background:#F36;
  position: absolute;
  top: 20px;
  right: 20px;
}
.main-menu ul {
    display: flex;
    justify-content: center;
  }
  main {
    display: flex;
    height: 2000px;
    flex-direction: row-reverse;
  }
  
  .main-menu ul li a {
    color: rgb(116, 5, 5);
    display: block;
    padding: 10px 20px;
  }
  .main-menu ul li a:hover {
    color: #FFF;
    background: rgb(116, 5, 5);
  }
  

section {
  background: #FFF;
  flex: 3;
  padding: 20px;
}
article {
  background: #FFF;
  padding: 10px;
  margin-bottom: 15px;
}
article img{
    float: left;
    margin-right: 20px;
}
aside {
  background: rgb(116, 5, 5);
  flex: 1;
}
.sub-menu {
  background:rgb(116, 5, 5);
}
.sub-menu ul li a {
    color: #FFF;
    display: block;
    padding: 20px 20px;
    text-align: center;
  }
  .sub-menu ul li a:hover {
    color: rgb(116, 5, 5);
    background: rgb(255, 171, 171);
  }
footer {
  background: rgb(44, 25, 25);
  color: #FFF;
  padding: 20px;
  text-align: center;
}
a.pagetop {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(44, 25, 25);
  color: #FFF;
  position: fixed;
  bottom: 0;
  right: 20px;
}

html {
  scroll-behavior: smooth;
}